/* 
.container {
    display: grid;
    background-color: #333;
    border: 5px solid red;
    padding: 15px;
    grid-template-columns: 50px auto 10%;
    height: 40vh;
    grid-template-rows: 70% 30%;
    gap: 5px;
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
 */


 /* Template areas */


 /* .container {
    display: grid;
    background-color: #333;
    border: 5px solid red;
    padding: 15px;
    gap: 5px;
    grid-template-areas: 
    'header header header header'
    'content content content sidebar'
    'footer footer footer footer';
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
}

#content {
    grid-area: content;
    height: 50vh;
}

#footer {
    grid-area: footer;
} */


/* Alignment */

/* .container {
    display: grid;
    background-color: #333;
    border: 5px solid red;
    padding: 15px;
    gap: 5px;
    grid-template-columns: auto auto auto;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
} */

.container {
    display: grid;
    grid-template-rows: 60px 40px 200px 60px;
    grid-template-areas: 
    "topo topo topo"
    "menu menu menu"
    "principal principal secundaria"
    "rodape rodape rodape";
    grid-gap: 5px 10px;
}
.topo{
    grid-area: topo;
    background-color: cyan;
    border: 1px solid;
}
.menu{
    grid-area: menu;
    background-color: cyan;
    border: 1px solid;
}
.principal {
    grid-area: principal;
    background-color: cyan;
    border: 1px solid;
}
.secundaria {
    grid-area: secundaria;
    background-color: cyan;
    border: 1px solid;
}
.rodape {
grid-area: rodape;
background-color: cyan;
border: 1px solid;
}